includes:
    - ../advanced-responsive-video-embedder/phpstan.neon
parameters:
	excludePaths:
		analyseAndScan:
			- php/tweaks-standalone/enable-relative-urls.php
	paths:
		- tweakmaster.php
		- php/
		- tests/
